<!DOCTYPE html>
<html>
    <title>Free membership!</title>
    <head>Become a member today!</head>
    <body>
        <h3>Please enter your details below: </h3>
        <br><br>
        <form method="POST" action="{{ url_for('membership') }}">
            <p>Name:</p>
            <input type="text" name="Name">
            <br>
            <p>Gender:</p>
            <input type="text" name="Gender">
            <br>
            <p>Email:</p>
            <input type="text" name="Email">
            <br>
            <p>Contact:</p>
            <input type="text" name="Contact">
            <br>
            <p>Address:</p>
            <input type="text" name="Address">
            <br>
            <button type="submit">Continue</button>
        </form>
    </body>
</html>
